/* css for regular pages with no sidebar */
@media screen and (min-width: 1200px) {
  .no-sidebar {
    width: 73.8461538461539% !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 1199px) {
  .no-sidebar {
    width: 100% !important;
  }
}
/* centre id photo in container */
.idblock {
    clear: both;
}
.idcontainer {
    float: left;
    margin: 5px 5px 0 5px;
    height: 90px;
    width: 120px;
    position: relative;
}
.idphoto {
     max-height: 100%;  
    max-width: 100%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
/* highlight div based on flatly well */
.commentbox {
  text-align: center;
  color: #565a5f;
  font-size: 130%;
  min-height: 20px;
  max-width: 90%;
  margin: 0 auto;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #ecf0f1;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* fix header */
#header {
  position: fixed;
  width: 100%;
  z-index:999;
}
/* drop profile/main/sidebar */
#profile {
  position: fixed;
  margin-top: 48px;
  z-index:1000;    
}
@media screen and (min-width: 1320px) {
  #profile {
    width: 284px;
  }
}
#main {
  margin-top: 100px;
}
@media screen and (min-width: 900px) {
  #main {
    margin-top: 48px;
  }
}
@media screen and (min-width: 1199px) {
  #main {
    margin-left: calc(21.53846153846154% + 3 * 0.76923076923076923%);
  }
}
#sidebar {
  margin-top: 100px;
}
@media screen and (min-width: 900px) {
  #sidebar {
    margin-top: 48px;
  }
}
#profile.card {
  position: fixed;
  margin-top: -24px;
}
/* TOC */
#TOC {
    padding: 5px 10px;
}
#TOC li {
    font-size: 130%;
}
#TOC .tocify-subheader {
    font-size: 80%;
    margin-left: 10%;
}
#TOC .active {
  color: #38b7ea !important;
}
#TOC li:hover {
  color: #38b7ea !important;
}
/* main section */
.article-inner {
    min-height: 365px;
}
/* doc lists */
ul.doctype-list li {
    list-style: none;
}
/* author and date on docs */
.article-author, .article-date {
    font-size: 120%;
}
/* (optional) captions on images */
img + em { 
    display: block;
    text-align: center;
    margin-top: -10px;
}