<section id="main" class="no-sidebar">
    <article id="page-undefined" class="article article-type-page" itemscope="" itemprop="blogPost">
        <div class="article-inner">
            {{ if eq .Section "docs" }}
                <header class="article-header">
                    <h1 class="article-title" itemprop="name">
                        {{ .Title }}
                    </h1>
                    <p class = "article-author">{{ .Params.Author }}</p>
                    {{ if ne .Type "other" }}
                    <time class = "article-date" datetime="{{ .Date }}" itemprop="datePublished">{{ .Date.Format .Site.Params.date_format }}</time>
                    {{ end }}
                </header>
            {{ end }}
            <div class="article-entry" itemprop="articleBody">
                {{ .Content }}
            </div>
        </div>
    </article>
    <div id="toTop" class="fa fa-angle-up"></div>
</section>
